.header {
  display: flex;
  border: 1px solid black;
}
.logo-container img {
  height: 150px;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: bold;
}

.nav-items ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 10px;
  padding: 0;
}

.nav-items li {
  cursor: pointer;
  flex: auto;
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.res-card {
  margin: 5px;
  height: 350px;
  width: 200px;
  border: 1px solid black;
 
}

.res-card:hover {
  box-shadow: 5px 5px 10px grey;
  cursor: pointer;
  border : 1px solid lightgrey;
}

.search {
  padding: 10px;
}
.dishPic {
  height: 150px;
  width: 200px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.login-btn {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
}

.filter{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}